<!DOCTYPE html>
<html>
<head>
	<title>Baseball Team List</title>

		<link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>

	<ul>
		<% for (let i = 0; i<teams.length; i++) { %>
			<li>

				Name: <a href="/teams/<%=teams[i]._id%>"><%=teams[i].name%></a>
				<br/>
				Titles: <%=teams[i].titles%> <br/>
				<a href="/teams/<%=teams[i]._id%>/edit">Edit Team</a>	<!-- EDIT HYPERLINK -->
			</li>

				<form action="/teams/<%=teams[i]._id%>?_method=DELETE" method="POST">
                    <button type='Submit'>Delete</button>
                </form>
                <br/>
		<%}%>
	</ul>
	           <a href="/teams/new">Create a New Team</a>
		
</body>
</html>